#beczka {
margin-left: 650px;
}

#account {
margin-top: 100px;
margin-left: 100px;
/* margin-left: 300px; */
/* background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px); */
position: relative;
width: 400px;
height: 500px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
color: #09C;
text-decoration: none;
border-radius: 10px;
padding: 10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
float: left;
  }

.mojeAdopcje {
    padding-top: 15px;
    color: rgb(6, 167, 221);
    font-size: 35px;
    text-align: center;
    height: 485px;
}

#button {
width: 200px;
text-align: center;
font-size: 20px;
position: absolute;
bottom: 20px;
background: rgb(6, 167, 221);
color: #fff;
font-family: Tahoma, Geneva, sans-serif;
height: 50px;
border-radius: 15px;
border: 3p solid black;
right: 100px;

}
#button:hover {
background: rgb(5, 134, 177);
color: rgb(255, 255, 255);
cursor: pointer;
}

.span {
height: 45px;
color: black;
display: block;
border: 1px solid #999;
padding-left: 15px;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
border: 2px solid rgb(6, 167, 221);
border-radius: 15px;
font-size: 20px;;
justify-content: center;
}

#button_adopcje {
width: 250px;
text-align: center;
font-size: 20px;
margin-top: 100px;
background: rgb(6, 167, 221);
color: #fff;
font-family: Tahoma, Geneva, sans-serif;
height: 75px;
border-radius: 15px;
border: 3p solid black;
right: 100px;
}

