#main_form {
  margin-left: 900px;
  width: 1100px;
  height: 600px;
}

#box_datachange {
  margin-top: 100px;
  margin-left: 100px;
  position: relative;
  width: 400px;
  height: 625px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  float: left;
  }

.mojeAdopcje {
  padding-top: 15px;
  color: rgb(6, 167, 221);
  font-size: 35px;
  text-align: center;
  height: 485px;
}

#data_button {
width: 200px;
text-align: center;
font-size: 20px;
bottom: 20px;
background: rgb(6, 167, 221);
color: #fff;
font-family: Tahoma, Geneva, sans-serif;
height: 50px;
border-radius: 15px;
border: 3p solid black;
margin-top: 50px;
margin-left: 85px;

}
#data_button:hover {
background: rgb(5, 134, 177);
color: rgb(255, 255, 255);
cursor: pointer;
}

.input {
  height: 45px;
  width: 375px;
  color: black;
  display: block;
  border: 1px solid #999;
  padding-left: 15px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid rgb(6, 167, 221);
  border-radius: 15px;
  font-size: 20px;;
  justify-content: center;
}


