* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
/* Header made by us, NOT USING bootstrap */
/* Completly responsive */
/* First version: browser_width > 1440px */
/* Second version: 1440px > browser_width > 991px *
/* Third version: 991px > browser_width > 620px */
/* MOBILE VERSION (Four): 620px > browser_width > 340px */
/* MOBILE VERSION (Five): 340px > browser_width */

/* ********************************************* */
/* ********************************************* */
/* ********************************************* */

/* First version: browser_width > 1440px and universal parts*/

.header_container {
  width: 100%;
  padding-top: 200px;
}

.header {
  text-align: center;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  transition: 1s;
  border-bottom: solid;
}

.header_container .header_content {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  padding-top: 20px;
}

.header_container .header_content h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 25px;
  margin-top: 10px;
}

.header_container .header_content h3,
p {
  font-family: 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
}

.logo {
  width: 600px;
  height: 120px;
  margin-left: 50px;
  margin-right: 50px;
}

.header_link_left {
  margin-left: 30px;
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  width: 150px;
  height: 54px;
  border-radius: 50px;
  color: #333 !important;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: 'Trebuchet MS', sans-serif;
}

.header_link_right {
  margin-right: 30px;
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  padding: 15px;
  width: 150px;
  height: 54px;
  border-radius: 50px;
  color: #333 !important;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: 'Trebuchet MS', sans-serif;
}

.header_link_left:hover {
  cursor: pointer;
  background: #DCD9D4;
  transition: 0.5s;
}

.header_link_right:hover {
  cursor: pointer;
  background: #DCD9D4;
  transition: 0.5s;
}

.header_content_top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header_content_bottom {
  text-align: center;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-width: 620px) {

  /* Second version: 1440px > browser_width > 991px */

  @media screen and (max-width: 1440px) {

    .header_container {
      width: 100%;
      padding-top: 140px;
    }

    .header {
      text-align: center;
      width: 100%;
      height: 140px;
      background-size: cover;
      background-attachment: fixed;
      position: fixed;
      overflow: hidden;
      border-radius: 0 0 85% 85% / 30%;
      top: 0;
    }

    .logo {
      width: 400px;
      height: 80px;
      margin-left: 50px;
      margin-right: 50px;
    }

    .header_link_left {
      margin-left: 20px;
      border: none;
      outline: none;
      display: inline-block;
      text-align: center;
      padding: 6px;
      width: 100px;
      height: 36px;
      border-radius: 34px;
      color: #333 !important;
      background: #fff;
      box-shadow: 0 3px 20px 0 #0000003b;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .header_link_right {
      margin-right: 20px;
      border: none;
      outline: none;
      display: inline-block;
      text-align: center;
      padding: 6px;
      width: 100px;
      height: 36px;
      border-radius: 34px;
      color: #333 !important;
      background: #fff;
      box-shadow: 0 3px 20px 0 #0000003b;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .header_content_bottom h2 {
      font-size: 16px !important;
    }

    .header_content_bottom {
      margin-top: -10px !important;
    }
  }

  /* Third version: 991px > browser_width > 620px */

  @media screen and (max-width: 991px) {

    .header {
      text-align: center;
      width: 100%;
      height: 140px;
      background-size: cover;
      background-attachment: fixed;
      position: fixed;
      overflow: hidden;
      border-radius: 0 0 85% 85% / 30%;
      top: 0;
    }

    .logo {
      width: 100px;
      height: 100px;
      margin-left: 20px;
      margin-right: 20px;
    }

    #Logo {
      content: url("./photos/piesioWRamce.png");
    }

    .header_link_left {
      margin-left: 20px;
      border: none;
      outline: none;
      display: inline-block;
      text-align: center;
      padding: 6px;
      width: 100px;
      height: 36px;
      border-radius: 34px;
      color: #333 !important;
      background: #fff;
      box-shadow: 0 3px 20px 0 #0000003b;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .header_link_right {
      margin-right: 20px;
      border: none;
      outline: none;
      display: inline-block;
      text-align: center;
      padding: 6px;
      width: 100px;
      height: 36px;
      border-radius: 34px;
      color: #333 !important;
      background: #fff;
      box-shadow: 0 3px 20px 0 #0000003b;
      font-family: 'Trebuchet MS', sans-serif;
    }

    .header_content_bottom h2 {
      font-size: 0px !important;
    }

    .header_content_bottom {
      margin-top: -10px !important;
    }
  }
}

/* MOBILE VERSION (Four): 620px > browser_width > 340px */

.header_mobile {
  text-align: center;
  width: 100%;
  height: 80px;
  background-size: cover;
  background-attachment: fixed;
  position: static;
  overflow: hidden;
  border-radius: 0;
}

.overlay_mobile {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.header_content_mobile {
  padding-top: 16px;
}

.logo_mobile {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.navigation_menu_mobile {
  overflow: hidden;
  position: relative;
}

.navigation_menu_mobile a {
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.header_content_mobile a.icon {
  color: white;
  margin-left: 20px;
  float: left;
  padding: 13px 16px;
  text-decoration: none;
  display: block;
  margin-right: 52.03px;
}

.navigation_menu_mobile a:hover {
  color: #DCD9D4;
}

.hidden_links_mobile {
  display: none;
}

.header_link_mobile_login {
  margin-right: 20px;
  text-align: center;
  padding: 13px;
  border-radius: 30px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 20px 0 #0000003b;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #333 !important;
  float: right;
}

.header_link_mobile_login:hover {
  cursor: pointer;
  background: #DCD9D4;
  transition: 0.5s;
}

/* MOBILE VERSION (Five): 340px > browser_width */

@media screen and (max-width: 340px) {
  .log_in_mobile {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 20px;
  }

  .header_content_mobile a.icon {
    color: white;
    margin-left: 20px;
    float: left;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
    margin-right: 0px;
  }
}


/* FOOTER */
/* Bootstrap */
/* Completly responsive */
/* First version: browser_width > 991px */
/* Second version: 991px > browser_width > 767px *
/* Third version: 767px > browser_width */

/* First version: browser_width > 991px and universal parts*/

.footer_container {
  bottom: 0;
  width: 100%;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/* Second version: 991px > browser_width > 767px */

@media screen and (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

/* Third version: 767px > browser_width */

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }

  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

/* Main Part */
/* Completly responsive */

.search_bar {
  margin-top: 30px;
}

.search_bar_content {
  background: #30cfd0;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 80%;
  border-radius: 20px;
  border: solid;
}

.search_input {
  width: 70%;
  margin-right: 10px;
  text-align: center;
  border-radius: 2px;
}

.search_button {
  padding: 3px;
  border-radius: 20px;
  color: #333 !important;
  background: #fff;
  font-family: 'Trebuchet MS', sans-serif;
}

.pet_container {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.pet {
  width: 250px;
  height: 300px;
  /* padding: 20px; */
  border: solid;
  border-radius: 10%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.pet hr {
  border: none;
  height: 3px;
  background-color: black;
  margin-top: 0px;
  margin-bottom: 12px;
}

@media screen and (max-width: 340px) {
  .pet {
    width: 150px;
    height: 200px;
  }
}

.petPhoto {
  width: 100%;
  height: 200px;
  margin: auto;
  display: block;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.petName {
  font-size: 30px;
  color: #fff;
  margin-bottom: -8px;
}

.petAge {
  color: #fff;
}