* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(http://localhost:8080/images/back_just_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}